.contentAPISectionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 0;
}

.APISection {
  width: 100%;
  height: 100%;
  display: flex;
}

.APISection h2 {
  min-width: 100%;
  font-size: 98px;
  text-align: center;
  margin-top: 5%;
}


.showNav {
  min-width: 15%;
  height: 100%;
  max-width: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5% 0;
  margin: 0;
}

.showNav button, 
.genreFilter select, 
.selectShowDate input {
  border-radius: 18px;
  border: 2px transparent solid;
}

.clearResults, 
.genreFilter button {
  margin: 0;
}

.showNav button {
  color: #ded6ed;
  background-color: #3a1879;
  min-width: 100%;
  border: 2px solid transparent;
  padding: 5% 0;
}

.showNav button:hover, 
.showNav button:focus {
  background-color: #ded6ed;
  cursor: pointer;
  color: #3a1879;
  border: 2px solid #3a1879;
}

.genreFilter select, 
.selectShowDate input {
  margin: 5% 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  border: 2px solid #3a187936;
}
.genreFilter select:focus, 
.selectShowDate input:focus,
.genreFilter select:hover, 
.selectShowDate input:hover {
  border: 2px solid #3a1879; 

}

.showGallery {
  width: 80%;
  height: 100%;
  padding: 0%;
  max-width: 75%;
}

.showList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.showList li {
  margin-bottom: 3%;
  width: 45%;
  height: 100%;
  border: solid 2px #3a1879;
  border-radius: 18px;
  text-align: center;
  overflow: hidden;
}


.image {
  overflow: hidden;
  height: 150px;
  width: 100%;
  margin: 0 auto;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}


.image img {
  object-fit: cover;
}

.showName {
  margin-top: 10px;
}

.showContainer p {
  margin: 2% 0;
}

.showButtons {
  display: flex;
}

.showContainer button {
  width: 50%;
  color: #ded6ed;
  padding: 3%;
  border: none;
  background-color: #3a1879;
}

.showContainer button:hover,
.showContainer button:focus {
  color: #3a1879;
  background-color: #df7980;
}

.showContainer button:first-of-type {
  border-radius: 0 18px 0 0;
}

.showContainer button:last-of-type {
    border-radius: 18px 0 0 0;
}

/* More details section */

 .details {
  position: fixed;
  bottom: 50px;
  /* right: 0; */
  width: 75vw;
  height: 50vh;

  border: 3px solid #73AD21;
}

