#aboutSection {
  width: 100%;
  height: 100%;
  color: white;
}

.aboutSectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-about);
  color: white;
}

.aboutSectionWrapper h3 {
  font-size: var(--font-size-h3);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.aboutTheApp {
  width: 100%;
  padding: 5% 10% 3% 10%;
  border-bottom: gold solid 2px;
  
}

.aboutTheApp p {
  font-family: var(--body-font);
  color: white;
  letter-spacing: 1px;
  line-height: 29px;
  font-size: clamp(0.8rem, 0.5558rem + 0.4675vw, 1rem);
  margin-bottom: 2%;
}
.aboutTheDevs {
  width: 100%;
  padding: 2% 5% 0 5%;
  background-color: var(--color-devProfiles);
  display:flex;
  flex-wrap:wrap;
}

.aboutTheDevs h2{
  width:100%;
  text-align:center;
  margin-top:0;
  margin-bottom:1%;
  padding-bottom:1%;
  font-size:2.5rem;
  text-transform:uppercase;
  color: rgb(71, 8, 71);
  border-bottom:1px solid white;
}
.appTagLine {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  text-align: left;
  padding:0 2%;
  margin-bottom: 2%;
}

.appTagLine p{
  font-family: var(--body-font);
  color: var(--color-devProfiles-p);
  letter-spacing: 1px;
  line-height: 29px;
  font-size: clamp(0.7rem, 0.5558rem + 0.2675vw, 1rem);
  font-weight: 300;
}

.appTagLine h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(71, 8, 71);
  margin-bottom: 2%;
}
.appTagLine img {
  margin-right: 5%;
  border-radius: 90%;
  max-width:100px;
}

.appTagLine a{
  text-decoration:none;
  color:white;
  cursor:pointer;
}

.appTagLine a:hover,
.appTagLine a:focus{
  text-decoration:underline;
}


/* there are weird things happening at this size */
@media (max-width:1100px){
  .aboutTheDevs{
    flex-direction:column;
    align-items:space-evenly;
  }

  .appTagLine{
    width:100%;
  }
}
