#aboutSection {
  width: 100%;
  height: 100%;
  color: white;
}

.aboutSectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-about);
  color: white;
}

.aboutSectionWrapper h3 {
  font-size: var(--font-size-h3);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.aboutTheApp {
  width: 100%;
  padding: 5% 10% 3% 10%;
  border-top: 2px solid gold ;
  border-bottom: 2px solid gold;
  
}

.aboutTheApp p {
  font-family: var(--body-font);
  color: white;
  letter-spacing: 1px;
  line-height: 29px;
  font-size: 16px;
  margin-bottom: 2%;
}
.aboutTheDevs {
  width: 100%;
  padding: 2% 5% 0 5%;
  background-color: var(--color-devProfiles);
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  border-bottom: 2px solid gold;
}

.aboutTheDevs h2{
  width:100%;
  text-align:center;
  margin-top:0;
  margin-bottom:1%;
  padding-bottom:1%;
  font-size:2.5rem;
  text-transform:uppercase;
  color: rgb(71, 8, 71);
  border-bottom:1px solid white;
}
.appTagLine {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  text-align: left;
  padding:0 2%;
  margin-bottom: 2%;
  
  
}

.appTagLine p{
  font-family: var(--body-font);
  color: var(--color-devProfiles-p);
  letter-spacing: 1px;
  line-height: 29px;
  font-size: 16px;
  font-weight: 300;
}

.appTagLine h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(71, 8, 71);
  margin-bottom: 2%;
}
.appTagLine img {
  margin-right: 5%;
  border-radius: 90%;
  max-width:100px;
}

.appTagLine a{
  text-decoration:none;
  color:white;
  cursor:pointer;
}

.appTagLine a:hover,
.appTagLine a:focus{
  text-decoration:underline;
}

@media (max-width:1300px){
  .aboutTheDevs{
    justify-items:center;
  }

  .appTagLine{
    width:50%;
    margin:1% auto;
    
  }
}

@media (max-width:650px){
  .aboutTheDevs{
    flex-direction:column;
  }

  .appTagLine{
    margin:2% auto;
  }

  .appTagLine h3{
    font-size:1rem;
  }
}

@media (max-width:400px){
  
  .appTagLine{
    margin: 2% 0;
    justify-content:flex-start;

  }
}

