.themeMenu {
  position: fixed;
  height: 100vh;
  bottom: 0;
  left: 0;
  top: 90px;
  /* background-color: var(--color-primaryBlueBlackRed); */
  width: 15vw;
  flex-direction: column;
  z-index: -1;
  border-right: solid gold 2px;
  transition: ease-in-out 5s;
}
.fireonthedancefloor {
  position: fixed;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: 90px;
  background-color: grey;
  width: 100vw;
  opacity: 0.7;
  flex-direction: column;
  z-index: -2;
}
.themeMenu button:hover {
  background-color: black;
  color: white;
}
.Open {
  display: flex;
  animation: opened 3s ease-in-out 1;
}

@keyframes opened {
  0% {
    width: 0;
    opacity: 0;
  }
  30% {
    width: 15vw;
    opacity: 1;
  }
}

.closed {
  display: none;
  width: 0;
}
