/* Introduction to API section */
.apiResponse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 0;
}

.apiResponse h2 {
  width: 100%;
  text-align: center;
}

.apiResponse h2:last-of-type {
  margin-bottom: 3%;
}

/* Nav section and API Results*/
.apiShows {
  width: 100%;
  height: 100%;
  display: flex;
}

.apiShows h2 {
  min-width: 100%;
  font-size: 98px;
  text-align: center;
  margin-top: 5%;
}

.showNav {
  min-width: 125px;
  height: 100%;
  max-width: 20%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 0 5% 0;
  margin: 0;
}

.showNav button, 
.genreFilter select, 
.selectShowDate input {
  border-radius: 0 18px 18px 0;
  border: 2px transparent solid;
  margin-bottom: 2%;
}


.clearResults, 
.genreFilter button {
  margin: 0;
}
.dateSearch, 
.genreListSelect,
.showNav button {
  padding: 5% 0;
}

.showNav button {
  min-width: 100%;
  color: #ded6ed;
  background-color: #3a1879;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.showNav button:hover, 
.showNav button:focus {
  color: #3a1879;
  background-color: var(--color-primaryBlueBlackRed);
  border: 2px solid #3a1879;
  cursor: pointer;
}

.genreFilter select, 
.selectShowDate input {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 5% 0;
  border: 2px solid #3a187936;
}
.genreFilter select:focus, 
.selectShowDate input:focus,
.genreFilter select:hover, 
.selectShowDate input:hover {
  border: 2px solid #3a1879; 

}

.showGallery {
  height: 100%;
  width: 100%;
  padding: 0%;
}

.showList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}


