.weekCalendar{
  border-top: 2px solid gold;
  margin-top:10%;
}
.weekCalendar, 
.newEvents,
.weekCalendar li, 
.newEvents li,
.EventsWeek, 
.newEvents {
  display: flex;
}

.weekCalendar, 
.newEvents,
.weekCalendar li, 
.newEvents li {
  flex-direction: column;
}

.weekCalendar li, 
.newEvents li,
.EventsWeek, 
.newEvents {
  align-items: center;
  align-content: center;
}

.weekCalendar, 
.newEvents,
.EventsWeek, 
.newEvents,
.EventsWeek h3, 
.newEvents h3,
.weekCalendar h2,
.newEvents h2 {
  width: 100%;
}

.weekCalendar, 
.newEvents {
  height: auto;
  background-color: #845dcc;
  padding: 3% 0;
}

.weekCalendar li, 
.newEvents li {
  list-style: none;
  justify-content: center;
  text-align:center;
  width: calc(86%/7);
  border:2px solid #3A1879;
  box-shadow:5px 5px 5px;
  border-radius:20px;
  margin:1%;
  min-width:200px;
  background-color:#ded6ed;
}

.weekCalendar li:last-of-type{
  display:none;
}

.EventsWeek, 
.newEvents {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2% 5% 0 5%;
  flex-wrap: wrap;
}

.EventsWeek h3, 
.newEvents h3{
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom:3%;
  background-color:#3A1879;
  border-radius:16px 16px 0 0;
  color:white;
}

.EventsWeek h4{
  font-weight:200;
  margin-bottom: 0;
}

.EventsWeek p,
.newEvents p,
.EventsWeek h4,
.newEvents h4{
  margin:5px;
}

.newEvents li h4{
  font-size:16px;
}

.weekCalendar h2,
.newEvents h2 {
  text-transform: capitalize;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 48px;
  margin-bottom:1%;
  }

.EventsWeek li h4::before,
.newEvents li h4::before,
.EventsWeek p:first-of-type::before,
.newEvents p:first-of-type::before,
.EventsWeek p:last-of-type::before,
.newEvents p:last-of-type::before {
  display:block;
  text-transform:uppercase;
  font-weight:600;
}

.EventsWeek li h4::before,
.newEvents li h4::before{
  content: 'Event Name:'
}

.EventsWeek p:first-of-type::before,
.newEvents p:first-of-type::before{
  content: 'Event Type:';
}

.EventsWeek p:last-of-type::before,
.newEvents p:last-of-type::before{
  content:'Party Size:';
}

.newEvents button,
.newEventForm button {
  border:none;
  padding:10px 15px;
  margin-bottom:5%;
  border-radius:20px;
  border:inset 2px solid #3A1879;
  background-color:white;
  color:#3A1879;
  box-shadow: 2px 2px 5px;
}

.newEvents button:hover,
.newEvents button:focus,
.newEventForm button:hover,
.newEventForm button:focus{
  background-color: var(--color-primaryBlueBlackRed);
  border:inset 2px solid white;
  color:#3A1879;
  box-shadow:inset 2px 2px 5px;
}

.eventListItems{
  width:100%;
  display:flex;
}

.allNewEvents{
  background-color:#845dcc;
}

.newEvents{
  margin-bottom:0;
}

.allNewEvents h4{
  text-align:center;
  font-size:40px;
}

/* Form styling */

.newEventForm {
  width: 100%;
  margin: 40px auto;
  margin-top:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  background-color: #845dcc;
  border-bottom: 2px solid gold;
}

.newEventForm label {
  text-align: right;
}

.newEventForm select {
  background-color: white;
}

.newEventForm input, 
.newEventForm select {
  border: 1px solid #3A1879;
  border-radius:20px;
  padding: 5px;
  width:50%;
  min-width:300px;
}

.newEventForm button {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 10%;
  min-width:150px;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  text-transform: uppercase;
  border: none;
}

.EventsWeek p, 
.EventsWeek h4,
.weekCalendar h2,
.newEvents p,
.newEvents h4,
.newEvents h2,
.newEventForm label{
  color:var(--eventsweekfont);
}

/* Media queries */

@media (max-width:850px) {
  .weekCalendar h2,
  .newEvents h2,
  .allNewEvents h4{
    font-size:30px;
    
  }

}

@media (max-width: 630px) {
  .newEventForm {
    display: block;
  }

  .newEventForm label,
  .newEventForm select,
  .newEventForm input {
    width: 100%;
  }

  .newEventForm input,
  .newEventForm select {
    margin: 10px 0;
  }
}

